*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(1,minmax(220px,250px)); 
    justify-content: center;
    align-items: center;
}
.card{
     background-color: #e7e7de;
    margin: 10px;
}
.card:hover{
    background-color:#dddddd;
}
.time{
    margin-right: 0;
    margin-bottom: 4px;
}
h3{
    margin: 4px;
    padding: 5px;
}
p{
    margin: 5px;
    padding: 5px;
}
span{
    margin-bottom: 5px;
}
